@font-face {
    font-family: AstroSpace;
    src: url(Assets/Custom_Fonts/AstroSpace-eZ2Bg.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Roboto');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(193, 218, 255);
}

::selection {
    color: rgb(255, 187, 0);
    background: rgba(255, 255, 255, 0.363);
}
::-moz-selection {
    color: rgb(255, 187, 0);
    background: rgba(255, 255, 255, 0.363);
}

html {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background: rgb(0, 73, 207);
}

/* --- */

.loading {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: white;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(0, 56, 160);
    transition-duration: 500ms;
    transition-timing-function: linear;
}
.loading h1{
    margin-top: 12px;
    margin-bottom: 12px;
}

.secondfa {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.726);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}
.secondfa h1 {
    font-size: 32px;
    text-align: center;
    z-index: 9999;
    color: white;
}
.secondfa img {
    position: fixed;
    width: 50vw;
    height: auto;
    transition-duration: 4s;
    transition-timing-function: linear;
    cursor: pointer;
}

/* Parallax landing page and login */

.parallax-wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
}
.section { 
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.51);
    background-size: 100%;
    z-index: -1;
}
.static {
    background: rgb(0, 73, 207);
}
.landing h1{
    font-size: 64px;
    transform: translateZ(-0.5px);
    font-weight: normal;
    text-align: center;
    max-width: 70%;
    line-height: 125%;
    letter-spacing: 3px;
    text-shadow: 0 0 5px #000;
    color: white;
    font-family: AstroSpace;
}
.landing::after {
    background-image: url('Assets/Images/futuristicBlueBackground.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.footer {
    height: 40vh;
    background: rgb(0, 56, 160);
    background-image: url('Assets/Images/blueAbstractWaves1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -615px;
}


/* Login Box */

.login {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-style: solid;
    border-color: rgb(0, 56, 160);
    border-width: 32px 0px 32px 0px;
}
.login-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    background: rgb(27, 107, 255);
    padding: 64px;
    border-radius: 5px;
    transition-duration: 250ms;
    position: relative;
}
.login-box-tou {
    background: rgba(255, 255, 255, 0.685);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-self: center;
}
.login-box-tou__text {
    font-size: 24px;
    background: rgba(0, 0, 0, 0.493);
    min-width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 16px;
}
.login h2 {
    font-size: 32px;
    font-weight: 100;
    text-align: center;
    padding-bottom: 32px;
}
.login p {
    color: rgb(211, 0, 0);
    font-weight: bold;
    margin-bottom: 12px;
    transition-duration: 300ms;
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
}
.login input {
    background: transparent;
    border: none;
    border-bottom: 2px solid #A5C1D5;
    outline: none;
    color: #88A4B4;
    text-align: center;
    font-size: 24px;
    transition-duration: 250ms;
    margin: 16px;
    width: 100%;
}
.login input::placeholder {
    color: #88A4B4;
}
.login input:focus {
    border-bottom: 2px solid #1F92EE;
    color: white;
}
.login-has-text {
    color: white;
    background: rgba(255, 0, 0, 0.5);
}
.login button {
    padding: 16px 32px;
    font-size: 32px;
    color: white;
    background: #1F92EE;
    border-radius: 10px;
    border: none;
    outline: none;
    width: 100%;
    margin-top: 20px;
}
.login button:hover {
    background: #45abff;
    cursor: pointer;
}

/* Landing page responsive code */

@media only screen and (max-width: 1280px) {
    ::-webkit-scrollbar {
        all: initial;
        width: 0px;
    }
    ::-webkit-scrollbar-track {
        all: initial;
    }
    ::-webkit-scrollbar-thumb {
        all: initial;
    }
    .secondfa h1 {
        font-size: 20px;
    }
    .landing h1 {
        font-size: 48px;
        text-align: center;
        line-height: 135%;
    }
    .login-box {
        min-width: 50vw;
        max-width: 800px;
    }
    .login-box {
        padding: 32px;
    }
    .login-box h2 {
        font-size: 24px;
    }
    .login-box p {
        font-size: 16px;
    }
    .login-box input {
        font-size: 16px;
    }
    .login-box button {
        font-size: 16px;
    }
    .footer {
        background-position: center;
    }
}
@media only screen and (max-width: 450px) {
    .landing h1 {
        font-size: 32px;
        text-align: center;
        line-height: 135%;
    }
    .login-box {
        min-width: 75vw;
        max-width: 800px;
    }
}

/* Main Content */

main {
    height: 2000px;
    background: rgb(27, 107, 255);
    position: relative;
    padding: 24px;
}
main h1 {
    text-align: center;
    color: white;
}

.secret {
    height: 1000px;
    background: rgb(21, 78, 185);
    position: absolute;
    width: 90%;
    bottom: 0;
}